<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes do Aluno</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Detalhes do Aluno</h1>
<p><strong>Nome:</strong> <span th:text="${aluno.nome}"></span></p>
<p><strong>CPF:</strong> <span th:text="${aluno.cpf}"></span></p>
<p><strong>Data de Nascimento:</strong> <span th:text="${aluno.dataNascimento}"></span></p>
<p><strong>Endereço:</strong> <span th:text="${aluno.endereco}"></span></p>
<p><strong>Telefone:</strong> <span th:text="${aluno.telefone}"></span></p>
<a href="/alunos/listar">Voltar</a>
</body>
</html>